@use '@carbon/type';

@include type.reset();
@include type.default-type();
@include type.type-classes();

.quotation {
  @include type.type-style('fluid-quotation-01', true);
  font-style: italic;
  letter-spacing: 0.02em;
}

:root {
  /* Carbon Gray Scale */
  --gray-10: #f4f4f4;
  --gray-20: #e0e0e0;
  --gray-30: #c6c6c6;
  --gray-40: #a8a8a8;
  --gray-50: #8d8d8d;
  --gray-60: #6f6f6f;
  --gray-70: #525252;
  --gray-80: #393939;
  --gray-90: #262626;
  --gray-100: #161616;

  /* Carbon Core */
  --black: #000000;
  --white: #ffffff;

  /* Carbon Blue */
  --blue-30: #a6c8ff;
  --blue-40: #78a9ff;
  --blue-50: #4589ff;
  --blue-60: #0f62fe;

  /* Carbon Cyan */
  --cyan-40: #33b1ff;
  --cyan-50: #1192e8;

  /* Carbon Teal */
  --teal-40: #08bdba;
  --teal-50: #009d9a;

  /* Carbon Green */
  --green-40: #42be65;
  --green-50: #24a148;

  /* Carbon Yellow */
  --yellow-30: #f1c21b;

  /* Carbon Orange */
  --orange-40: #ff832b;

  /* Carbon Red */
  --red-40: #ff8389;
  --red-50: #fa4d56;

  /* Carbon Magenta */
  --magenta-50: #ee5396;

  /* Carbon Purple */
  --purple-50: #a56eff;

  color-scheme: dark;
  color: var(--gray-10);
  background-color: var(--gray-100);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
  width: 100%;
}
