@use "@carbon/styles/scss/themes";
@use "@carbon/styles/scss/theme" with ($theme: themes.$g100);
@use "@carbon/styles/scss/type";

@include type.reset();
@include type.default-type();

.quotation {
  @include type.type-style("fluid-quotation-02", true);
  font-style: italic;
  letter-spacing: 0.02em;
}

.section-heading {
  @include type.type-style("fluid-quotation-02", true);
  letter-spacing: 0.02em;
  color: var(--cds-text-primary);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

:root {
  @include theme.theme();
  color-scheme: dark;
  color: var(--cds-text-primary);
  background-color: var(--cds-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
  width: 100%;
}
