@use '@carbon/type';
@use '@carbon/colors';

@include type.reset();
@include type.default-type();
@include type.type-classes();

.quotation {
  @include type.type-style('fluid-quotation-01', true);
  font-style: italic;
  letter-spacing: 0.02em;
}

:root {
  color-scheme: dark;
  color: #{colors.$gray-10};
  background-color: #{colors.$gray-100};
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
  width: 100%;
}
